<canvas id="court">    
   <!-- Graphical display and manipulation to happen here -->

</canvas>

<div class="not-court">
    <div class="players">
        <table>
            <thead>
                <th>AF_id</th>
                <th>Role</th>
                <th>Pos x</th>
                <th>Pos y</th>
                <th>Has Ball</th>
            </thead>
            <tbody>
                <% @action_frame.players.each do |p| %>
                    <tr>
                        <td><%= p.action_frame.id  %></td>
                        <td><%= p.role%></td>
                        <td><%= p.position_x %></td>
                        <td><%= p.position_y %></td>
                        <td><%= p.has_ball %></td>
                        <br>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div> 

    <div class="AF_actions">
        <% if @action_frame.actions.size > 0 %>
            <table>
                <thead>
                    
                </thead>
                <tbody>
                    <% @action_frame.actions.each do |p| %>
                        
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div> 

    <br><br>
    <div class="action_adder">
        <%= render 'actions/form' %>
    </div>

</div>

<div class="clear"></div>