<canvas id="court" width="500px" height="470px">    
   <!-- Graphical display and manipulation to happen here -->

</canvas>

<div class="not-court">
    <div class="AF_actions">
        <% if @action_frame.actions.size >= 0 %>
            <table>
                <thead>
                    <th>Edit</th>
                    <th>Player</th>
                    <th>Type</th>
                    <th>End x</th>
                    <th>End y</th>
                    <th>Teammate</th>
                </thead>
                <tbody>
                    <% @action_frame.actions.each do |a| %>
                        <tr>
                            <td><%= link_to 'Edit', edit_action_path(a) %></td>
                            <td><%= a.player.role %></td>
                            <td><%= a.action_type %></td>
                            <% if a.action_type == "Move" %>
                                <td><%= a.end_position_x %></td>
                                <td><%= a.end_position_y %></td>
                                <td>-</td>
                            <% elsif a.action_type == "Pass" %>
                                <td>-</td>
                                <td>-</td>
                                <td><%= Player.find_by_id(a.teammate).role %></td>
                            <% end %>                                
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div> 

    <br><br>

</div>

<div class="clear"></div>