<%= form_for(@new_action) do |f| %>
  <% if @new_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player %>
    <%= f.select :player_id , options_from_collection_for_select(
      @action_frame.players, 'id', 'role'), include_blank: true %>
    <%= @new_action.player %>
  </div>
  <div class="field">
    <%= f.label :type %>
    <%= f.select :action_type, ['Move', 'Pass'], include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :end_x %>
    <%= f.text_field :end_position_x %>
  </div> 
  <div class="field">
    <%= f.label :end_y %>
    <%= f.text_field :end_position_y %>
  </div>
  <div class="field">
    <%= f.label :teammate %>
    <%= f.select :teammate_id , options_from_collection_for_select(
      @action_frame.players.where("has_ball = ?", false), 'id', 'role'), 
      include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
