<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offense.name %>
</p>

<p>
  <strong>Pg x:</strong>
  <%= @offense.pg_x %>
</p>

<p>
  <strong>Pg y:</strong>
  <%= @offense.pg_y %>
</p>

<p>
  <strong>Pg ball:</strong>
  <%= @offense.pg_ball %>
</p>

<p>
  <strong>Sg x:</strong>
  <%= @offense.sg_x %>
</p>

<p>
  <strong>Sg y:</strong>
  <%= @offense.sg_y %>
</p>

<p>
  <strong>Sg ball:</strong>
  <%= @offense.sg_ball %>
</p>

<p>
  <strong>Sf x:</strong>
  <%= @offense.sf_x %>
</p>

<p>
  <strong>Sf y:</strong>
  <%= @offense.sf_y %>
</p>

<p>
  <strong>Sf ball:</strong>
  <%= @offense.sf_ball %>
</p>

<p>
  <strong>Pf x:</strong>
  <%= @offense.pf_x %>
</p>

<p>
  <strong>Pf y:</strong>
  <%= @offense.pf_y %>
</p>

<p>
  <strong>Pf ball:</strong>
  <%= @offense.pf_ball %>
</p>

<p>
  <strong>C x:</strong>
  <%= @offense.c_x %>
</p>

<p>
  <strong>C y:</strong>
  <%= @offense.c_y %>
</p>

<p>
  <strong>C ball:</strong>
  <%= @offense.c_ball %>
</p>

<%= link_to 'Edit', edit_offense_path(@offense) %> |
<%= link_to 'Back', offenses_path %>
