<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Position x</th>
      <th>Position y</th>
      <th>Ball</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.position_x %></td>
        <td><%= player.position_y %></td>
        <td><%= player.has_ball %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
